<style>
  table {
    border: 1px solid #93a4a9;
    border-spacing: 3px;
    width: 100%;
    text-align: left;
    font: normal 9pt/normal Verdana, Arial, Helvetica, sans-serif;
  }
  table, th, td {
    border-collapse: separate;
  }
  th {
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    background-color: #6a9cc7;
    color: white;

  }
  td {
    padding: 5px;
    padding-left: 10px;
    background-color: #e9f1fb;
  }

  td img {
    height: 125px;
    border: #09379b solid 2px;
  }
  }
  span.udelete {
    position: relative;
    left: 500px;
    bottom: 20px;
    padding: 0;
    margin: 0;
  }
  span.relative {
    position: relative;
    bottom: 50px;
  }

  table td:nth-child(3) {
    width: 80px;
    max-width: 80px;
  }

  table td:nth-child(2) {
    width: 150px;
    max-width: 200px;
  }
  table td:nth-child(1) {
    width: 100px;
  }
</style>

<table>
  <tr><th>Date:</th> <th>From:</th><th>Status:</th><th>Subject:</th>
    <% @messages.reverse.each do |message| %>
      <% message.read == true ? @td = '<td>' : @td = '<td style="background-color: #cce1fc">' %>
    <tr>
    <%= @td %><%= message.created_at.strftime("%b %e, %Y<Br> %l:%M %p") %></>
    <%= @td %><a href="/user/<%= message.sender.id %>"><img src="/images<%= message.sender.images.first.image %>"></a></td>
    <%= @td %><%= message.read == true ? 'Read' : 'Unread' %>  </td>
    <%= @td %><b><a href="/user/<%= @user.id %>/messages/<%= message.id %>"><%= message.subject %> </a></b> </td>
  </tr>
  <% end %>


</table>