<style>
  table {
    border: 1px solid #689aca;
    border-spacing: 3px;
    width: 1000px;
    text-align: left;
    font: normal 9pt/normal Verdana, Arial, Helvetica, sans-serif;
}
  table, th, td {
    border: 1px solid #689aca;
    border-collapse: collapse;
  }
  th {
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    background-color: #e9f1fa;
  }
    td {
      padding: 5px;
    }

    td img {
      height: 125px;
    }
  span.udelete {
    position: relative;
    left: 500px;
    bottom: 20px;
    padding: 0;
    margin: 0;
  }
    span.relative {
      position: relative;
      bottom: 50px;
    }
</style>

<table>
  <tr><th>From:</th><td> <img src="/images/<%= @message.sender.images.first.image %>"><b> <span class="relative"> <%= @message.sender.name %> </span> </b> <span class="uDelete">Delete User</span> </td></tr>
  <tr><th>Date:</th><td><%= @message.created_at.strftime("%A, %d %b %Y %l:%M %p %Z") %></td></tr>
  <tr><th>Subject:</th><td> <%= @message.subject %></td></tr>
  <tr><th>Body:</th> <td><%= @message.content %></td></tr>


</table>