<style>
  div.container {
    width: 100%;
    text-align: right;
    font-size: 13px;
    padding-top: 5px;
    color: #152e71;
    font-weight: bold;
  }
  table {
    border: 1px solid #689aca;
    border-spacing: 3px;
    width: 1000px;
    text-align: left;
    font: normal 9pt/normal Verdana, Arial, Helvetica, sans-serif;
}
  table, th, td {
    border: 1px solid #e4e4e9;
    border-collapse: collapse;
  }
  th {
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    background-color: #e9f1fa;
  }
    td {
      padding: 5px;
    }

    td img {
      height: 125px;
    }
  span.udelete {
    position: relative;
    left: 500px;
    bottom: 20px;
    padding: 0;
    margin: 0;
  }
    span.relative {
      position: relative;
      bottom: 50px;
    }
  table img {
    /*border: #5383c5 solid 2px;*/
    border: #09379b solid 2px;
  }
</style>

<table>
  <tr><th>From:</th><td><a href="/user/<%= @message.sender.id %>"> <img src="/images/<%= @message.sender.images.first.image %>"> </a><b> <span class="relative"> <%= @message.sender.name %> </span> </b> <span class="uDelete">Delete User</span> </td></tr>
  <tr><th>Date:</th><td><%= @message.created_at.strftime("%A, %d %b %Y %l:%M %p %Z") %></td></tr>
  <tr><th>Subject:</th><td> <%= @message.subject %></td></tr>
  <tr><th>Body:</th> <td><%= @message.content %></td></tr>

</table>
<div class="container">
  <% unless previous_message.nil? %> <a href="/user/<%=  @user.id  %>/messages/<%=  previous_message.id  %>"> << Previous </a><%  end %>
 <% unless next_message.nil? %> <a href="/user/<%=  @user.id  %>/messages/<%=  next_message.id  %>"> Next >></a><%  end %>
</div>