<style>
  table#requests {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
  }

  table {
    border: 1px solid #689aca;
    border-spacing: 3px;
    border-collapse: separate;
    width: 800px;
  }
  th, td {
    padding: 5px;
    background-color: #e9f1fa;

  }

  th#topbar {
    background-color: #689aca;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  table img {
    size: auto;
  }
  table td:last-child {
    width: 1000px;
  }
  span.center {
    text-align: center;
  }

    div.upload {
      display: flex;
      justify-content: left;
    }
    form {
      text-align: left;
    }
    input {
      font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
    }

</style>

<table id="requests">
  <% @user.images.each do |image| %>
        <td><a href="/users/<%= @user.id %>/pictures/<%= image.id %>"><img src="/images<%= image.image %>" width="200px"></a><br>
          <span class="center"><%= image.caption unless nil %></td></span>
        <% end %>
</table>
  <a href="/users/<%= @user.id %>" class="left">Go Back</a>


<% if logged_in? && @user == current_user %>
<div class="upload"><form method='POST' action='/users/<%= current_user.id %>/pictures' enctype="multipart/form-data" id="spacefix">
  <h1>Upload new photo</h1>
  <input type="text" value="Add a caption for your photo" name="caption"><br>
  <input type='file' name='file' class='form-control'><br>
  <input type="submit" value="Upload">
</form></div>
<% end %>