<table class="short">
  <tr>
    <td>
      <a href="/user/<%= @user.id %>/pictures"><img src="/images<%= @profilepic.image %>" class="avatar" id="avatar"></a>
      <br>View My: <a href="/user/<%= @user.id %>/pictures">Pics | Videos</a>

    </td>
    <td class="shortRight">

<div>"<span id="credo"><%= @user.motto %></span>"</div><br>
<div id="gender"><%= @user.gender.capitalize %></div>
<div><span id="age"><%= @user.age %></span> years old</div>
<div id="country"><%= @user.city %><br><%= @user.state %><br><%= @user.country %></div