<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MYSPACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/profile_css/main.css">
  <% if Pathname("./app/public/profile_css/#{@user.id}_custom_css.css").exist? && !Pathname("./app/public/profile_css/#{@user.id}_custom_css.css").blank? %>
    <link rel="stylesheet" href="/profile_css/<%= @user.id %>_custom_css.css">
    <% end %>
</head>
<body>
<div id="container">


  <%= erb :'partials/header' %>

  <div class="topLeft">
  <div><h2 class="uName" id="name"><%= @user.name %></h2></div>

  <%= erb :'/partials/bio' %>
  </td>
  </tr>
  </table>
  <div class="boxInfo box">
    <div class="boxHead"><b>Contacting <span class="uName"><%= @user.name %></span></b></div>
    <span class="contact">
      <% if logged_in? %>
      <a href="/user/<%= current_user.id %>/messages/<%= @user.id %>/new"><div class="boxButton" id="sMsg">Send Message</div></a>
        <% else %>
      <a href="/login"><div class="boxButton" id="sMsg">Send Message</div></a>
        <% end %>
    <a href="#"><div class="boxButton" id="report">Report</div></a>

      <% if !logged_in? %>
      <a href="/login"><div class="boxButton" id="add">Add to friends</div></a>
    <% elsif logged_in? && current_user.friends.include?(@user) %>
      <a href="/user/<%= @user.id %>/remove"><div class="boxButton" id="add">Remove Friend</div></a>
        <% elsif @user.pending_friends.include?(current_user) %>
      <a href="/user/<%= @user.id %>"><div class="boxButton" id="add">Pending Friend Request</div></a>
        <% elsif current_user.pending_friends.include?(@user) %>
        <a href="/user/<%= current_user.id %>/friend_requests"><div class="boxButton" id="add">Accept Friend Request</div></a>
      <% else %>
      <a href="/user/<%= @user.id %>/add"><div class="boxButton" id="add">Add to friends</div></a>
      </span>
      <% end %>
    <a href="blokc.php?id=1"><div class="boxButton" id="block">Block</div></a>
  </div>





    <% if logged_in? && current_user == @user %>
    <div class="mailInfo box">
      <div class="boxHead"><b>My Mail</b></div>


      <table class="userNav">
        <tr>
          <td colspan="5">
            <table cellspacing="3" cellpadding="3" width="100%">
              </td></tr>
              <tr>
                <td width="45%" align="center" valign="middle" class='txt_label4' height="33">
                  <a href='/user/<%= current_user.id %>/messages'>Messages</a>
                </td>
                </td>

                <td width="45%" align="center" valign="middle" class='txt_label4' height="33">
                  <a href='/user/<%= current_user.id %>/friend_requests' class='style11'>Friend Requests</a></a>
                </td>
              </tr>

              </tr>
              </td></tr>
            </table>
            </table>


      <% if logged_in? && !current_user.pending_friends.empty? %>
        <a href="/user/<%= current_user.id %>/friend_requests"><div class="boxButton" id="sFriend"><span class="notifcation2">New Friend Requests!</span></div></a><br>
      <% end %>
      <% if logged_in? && !current_user.unread_messages.empty? %>
        <a href="/user/<%= current_user.id %>/messages"><div class="boxButton" id="sMsg"><span class="notifcation">New Messages!</span></div></a><br>
      <% end %>

    </div>
<% end %>





  <div class="url box">
    <div><b>MySpace URL:</b></div>
    <div><a style='color:#000;text-decoration:none;' href='/user/<%= params[:id] %>'>
      /user/<%= params[:id] %>
    </a></div>
  </div>






  <div class="player box">

    <% if params[:id] == '2' %>
      <div class="songName"><b>Playing: </b> <span class="songTitle">Paramore - That's What You Get
      </span></div>
      <audio controls autoplay="autoplay">
        <source src="/profile_songs/paramore.mp3" type="audio/mpeg" muted>
        Your browser does not support the audio element.
      </audio>
      <% elsif params[:id] == '3' %>
      <div class="songName"><b>Playing: </b> <span class="songTitle">Ariana Grande - Thank U Next
      </span></div>
      <audio controls autoplay="autoplay">
        <source src="/profile_songs/thankunext.mp3" type="audio/mpeg" muted>
        Your browser does not support the audio element.
      </audio>

    <% end %>

  </div>
</div>
  <div class="topRight">

    <% if logged_in? && current_user == @user %>
      <div class="extended box"><h3><span class="uName">Your Profile</span></h3></div>
    <% else %>
      <div class="extended box"><h3><span class="uName"><%= @user.name %></span> is in your extended network</h3></div>
    <% end %>


    <div class="box blurbs">
      <div class="rightHead"><b><span class="uName"><%= @user.name %></span>'s blurbs</b></div>
      <h4>About me:</h4>
      <div id="about"><p><%= erb :'/partials/about' %></p></div>
    </div>
    <div class="box fwiends">
      <div class="rightHead"><b><span class="uName"><%= @user.name %></span>'s Friends</b></div>
      <div class="fwiendCounter"><b><span class="uName"><%= @user.name %></span> has <span class="fwiendCount"><%= @user.friends.count %></span> friends.</b></div>
      <div id="top">


        		<%= erb :'partials/friendslist' %></div>



      <div id="viewFriends"><b>View <a href="/users/<%= @user.id %>/friends">All</a> <span class="uName"><%= @user.name %></span>'s Friends</b></div>



    </div>
    <div class="box comments">



      <% if !logged_in? %>
    <div style='margin-bot<%= @user.name %>:20px;'>Please <a href='/login'>login</a> to leave a comment. </div>
        <% elsif logged_in? %>
        <div id="form">
          <div class="boxHead"><b>Leave a comment</b></div>
          <form action="/user/<%= @user.id %>/comments/new" method="post">
            <textarea name="content" id="commentInput"></textarea>
            <input type="submit" value="Send">
          </form>
        </div>
      <% end %>




      <div class="boxHead"><b>Comments</b></div>
      <table id="userWall">
       <%= erb :'/partials/comments' %>
      </table>
    </div>
    <div id="imgPreview"><img src=""></div>
    <div id="footer" class="box">
      <div>
        <p>
          <a href="about.php">About</a> <a href="/help">Help</a>
          <a href="login.php">Login</a>		<br>&copy; 1993-2020 <a style="text-decoration:none;" href="/">render footer partial</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>